*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
      box-sizing: border-box;
  }

/***************/
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container {
    background-color: var(--White);
    box-shadow: rgba(149, 157, 165, 0.2) 5px 5px 5px;
    margin: 0 auto 1.8rem auto;
    padding: 1rem;
    border-radius: 12px;
}
.container h1,.container p,.container img {
    margin-bottom: 1rem;
}
.container h1,.container p {
    padding: 0 0.5rem;
}

.container h1 {
    font-size: 20px;
    color: var(--Dark-blue);
}

.container p {
    color:var(--Grayish-blue);
}

.container img {
    max-width: 100%; 
    border-radius: 12px;
 }


/************/
.attribution {
     font-size: 11px; text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}


/************/
/* - Mobile: 375px Desktop: 1440px */

@media(min-width:375px){
    .container {
        width: 323px;
    }
}
